NODE_ENV=development
PORT=5000

# MongoDB
MONGO_URI=mongodb://iamrameezsarguru_db_user:JqEBGm5y5grZQhQz@ac-vbq3ncr-shard-00-00.h03ra93.mongodb.net:27017,ac-vbq3ncr-shard-00-01.h03ra93.mongodb.net:27017,ac-vbq3ncr-shard-00-02.h03ra93.mongodb.net:27017/govt_schemes_db?ssl=true&replicaSet=atlas-zfztyd-shard-0&authSource=admin&retryWrites=true&w=majority&appName=Cluster0

# JWT
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_EXPIRE=7d

# Admin Setup (used during seed)
ADMIN_EMAIL=admin@govtschemes.in
ADMIN_PASSWORD=Admin@123456